.clock {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 65px;
  border-radius: 7px;

  font-size: 42px;
  color: black;
  box-shadow: 0 15px 38px rgba(0, 0, 0, 0.1), 0 10px 12px rgba(0, 0, 0, 0.12);
}
