.better-clock {
  display: flex;

  width: 300px;
  height: 65px;
  border-radius: 7px;

  font-size: 42px;
  color: black;
  box-shadow: 0 15px 38px rgba(0, 0, 0, 0.1), 0 10px 12px rgba(0, 0, 0, 0.12);

  .better-clock__part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;

    &:nth-child(2) {
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
    }

    .better-clock__part__label {
      font-size: 30px;
      margin-left: 10px;
      color: rgba($color: #000000, $alpha: 0.7);
    }
  }
}
